# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas
4. Matplotlib

|Data Science Tools|
|------------------|
|RStudio           |
|Apache Spark      |
|TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Phyton

This is a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [2]:
200 / 60

3.3333333333333335

**Objectives:**
- Python
- Java
- R
- C++
- SQL

## Author
Emran Hasan